.project-row {
  padding: 100px 10%;
  background: #546df5;
  text-align: center;
}

.white-text {
  color: white;
}

.image-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

/* each project top and bottom spacing 50px and align to center */
.project-item {
  padding: 50px 0px;
}

/* set height and width of each project image */
.img-container {
  height: 220px;
  width: 400px;

  background: white;
  align-content: center;
  vertical-align: center;
  border-radius: 5px;
  display: inline-flex;
  position: relative;
  /* establish nearest positioned ancestor for abspos */
  cursor: pointer;
}

.home-project-image {
  vertical-align: center;
  max-width: 100%;
}

.img-container:hover .home-project-image {
  opacity: 0.15;
}

/* text over project image */
.hover-text {
  font-weight: bold;
  opacity: 0;
  color: black;
  position: absolute; /* remove from document flow */
  left: 50%; /* center horizontally */
  top: 50%; /* center vertically */
  transform: translate(-50%, -50%);
}

.img-container:hover .hover-text {
  opacity: 1;
}
