footer {
  background: white;
  padding: 2% 30%;
}

.text-center {
  text-align: center;
}

.social_footer_ul {
  padding-left: 40%;
  padding-right: 40%;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 15px auto 0 auto;
  list-style-type: none;
}
