.header {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: white;
  /* position: fixed; */
}

.header-logo {
  font-weight: bold;
  color: #202020;
}

.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

a {
  /* spacing in between nav link */
  padding: 0px 10px;
  text-decoration: none;
  font-weight: 500;
  color: darkgrey;
}

a:hover {
  color: #546df5;
  text-decoration: underline;
}
