.intro-row {
  display: flex;
  background-color: #fbfbfb;
  /* to adjust for side and top spacing */
  padding: 10% 25%;
  flex-wrap: wrap;
  justify-content: center;
}

/* // spacing between intro image and text */
.intro-content {
  margin: 10 px;
  /* background-color: red; */
}

.profile-image {
  width: 300px;
  border-radius: 50%;
}
.intro-p1 {
  flex-grow: 1;
  text-align: center;
}

.intro-p2 {
  flex-grow: 2;
  line-height: 1.8rem;
  text-align: center;

  @media screen and (min-width: 780px) {
    text-align: left;
  }
}

.timeline-row {
  padding: 60px 300px 0px 300px;
  display: flex;
  justify-content: center;
}
