.project-heading {
  padding: 10% 20% 3% 20%;
  text-align: center;
}
.project-cover {
  width: 100%;
}

.project-content {
  padding: 0% 20% 0% 20%;
  text-align: left;
}

.bold-text {
  font-family: sans-serif, Arial, Helvetica;
  font-weight: 600;
  padding-top: 1em;
  padding-bottom: 1em;
}

.url-color {
  color: #546df5;
}
.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
}

.gallery-box {
  margin-right: 20px;
  width: 460px;
  padding-bottom: 5%;
}

/* .gallery-box :first-of-type {
  margin-left: 0;
}

.gallery-box :last-of-type {
  margin-right: 0;
} */

.project-image {
  width: 100%;
}
